@model DATN_Web.Models.DeviceCategory
@{
    ViewBag.Title = "Tạo mới danh mục";
}

<section class="content">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
            <div class="card">
                <div class="card-header bg-success">
                    <h3 class="card-title">@ViewBag.Title</h3>
                </div>

                <div class="card-body">
                    @using (Html.BeginForm("CreateDeviceCategory", "Warehouse", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger mb-2" })

                        <div class="input-group">
                            @Html.TextBoxFor(m => m.CategoryName, new
                            {
                                @class = "form-control",
                                placeholder = "Vui lòng nhập tên danh mục"
                            })

                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>

                        @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger mt-2 d-block" })
                    }
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh mục có sẵn</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <button class="btn badge-primary mr-2 mb-2" type="button">Laptop</button>
                    <button class="btn badge-primary mr-2 mb-2" type="button">CasePC</button>
                    <button class="btn badge-primary mr-2 mb-2" type="button">Màn Hình máy tính</button>
                    <button class="btn badge-primary mr-2 mb-2" type="button">Bàn Phím</button>
                    <button class="btn badge-primary mr-2 mb-2" type="button">Chuột</button>
                    <button class="btn badge-primary mr-2 mb-2" type="button">Ổ điện</button>
                    <button class="btn badge-primary mr-2 mb-2" type="button">Máy in</button>
                    <button class="btn badge-primary mr-2 mb-2" type="button">Máy scan</button>
                    <button class="btn badge-primary mr-2 mb-2" type="button">Máy huỷ tài liệu</button>
                    <button class="btn badge-primary mr-2 mb-2" type="button">Access Point</button>
                    <button class="btn badge-primary mr-2 mb-2" type="button">Thiết bị mạng</button>
                </div>
            </div>
        </div>
    </div>
</section>
