@{ ViewBag.Title = "Danh sách danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
            <div class="card">
                <div class="card-header bg-success">
                    <h3 class="card-title ">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên danh mục</th>
                                    <th>Số lượng model</th>
                                    <th>Số lượng thiết bị</th>
                                    <th>Cập nhật</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cate in Model)
                                {
                                    <tr>
                                        <td>@cate.Id</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="@Url.Action("Index","DeviceModels",new { categoryId = cate.Id })">
                                                @cate.CategoryName
                                            </a>
                                        </td>
                                        <td>@cate.ModelCount</td>
                                        <td>@cate.TotalQuantity</td>
                                        <td>@cate.LastUpdated</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>

