
@model IEnumerable<DATN_Web.Models.Entities.User>
@{ ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
            <div class="card">
                <div class="card-header bg-success">
                    <h3 class="card-title ">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên đăng nhập</th>
                                            <th>Tên người dùng</th>
                                            <th>Email</th>
                                            <th>Quyền</th>
                                            <th>Trạng Thái</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int stt = 1;
                                        }
                                        @foreach (var u in Model)
                                        {
                                            <tr>
                                                <td>@stt</td>
                                                <td>@u.Username</td>
                                                <td>@u.FullName</td>
                                                <td>@u.Email</td>
                                                <td>@(u.Role == 2 ? "Admin" : "User")</td>
                                                <td>@(u.IsActive ? "Hoạt động" : "Khóa")</td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm" href="@Url.Action("DetailCustomers","Customers", new { id = u.UserId })">
                                                        <i class="fas fa-folder">
                                                        </i>
                                                        Xem
                                                    </a>
                                                    <a class="btn btn-info btn-sm" href="@Url.Action("EditCustomers","Customers", new { id = u.UserId })">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Sửa
                                                    </a>
                                                    <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteCustomers","Customers")">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Xoá
                                                    </a>
                                                </td>
                                            </tr>
                                            stt++;
                                        }
                                     </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>


