@{
    ViewBag.Title = "Trang chủ";
}
<div class="row">
    <div class="col-lg-3 col-6">
        <a href="@Url.Action("Index","Orders")" class="small-box">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>1</h3>
                    <p>Đơn hàng</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Index","Customers")" class="small-box">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>5</h3>
                    <p>Khách hàng</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-plus"></i>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Index","Warehouse")" class="small-box">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>9</h3>
                    <p>Kho hàng</p>
                </div>
                <div class="icon">
                    <i class="fas fa-warehouse"></i>
                </div>
            </div>
        </a>
        <!-- small card -->
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <a href="@Url.Action("CreateCustomers","Customers")" class="small-box">
            <div class="small-box  bg-success">
                <div class="inner">
                    <h3>2</h3>
                    <p>Thêm Đơn hàng</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>

                    @*<i class="ion ion-stats-bars"></i>*@
                </div>
            </div>
        </a>
        <a href="@Url.Action("CreateCustomers","Customers")" class="small-box">
            <div class="small-box  bg-success">
                <div class="inner">
                    <h3>6</h3>
                    <p>Thêm khách hàng</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-plus"></i>
                </div>
            </div>
        </a>
        <a href="@Url.Action("CreateWarehouse","Warehouse")" class="small-box">
            <div class="small-box  bg-success">
                <div class="inner">
                    <h3>10</h3>
                    <p>Thêm sản phẩm</p>
                </div>
                <div class="icon">
                    <i class="fas fa-warehouse"></i>
                </div>
            </div>
        </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <a href="@Url.Action("DetailOrder","Orders")" class="small-box">
            <div class="small-box  bg-warning">
                <div class="inner">
                    <h3>3</h3>
                    <p>Chi tiết đơn hàng</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </a>
        <a href="@Url.Action("DetailCustomers","Customers")" class="small-box">

            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>7</h3>

                    <p>Chi tiết khách hàng</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-plus"></i>
                </div>
            </div>
        </a>
        <a href="@Url.Action("DetailWarehouse","Warhouse")" class="small-box">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>11</h3>

                    <p>Chi tiết sản phẩm</p>
                </div>
                <div class="icon">
                    <i class="fas fa-warehouse"></i>
                </div>
            </div>
        </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <a href="@Url.Action("DeleteOrder","Orders")" class="small-box">
            <div class="small-box  bg-danger">
                <div class="inner">
                    <h3>4</h3>
                    <p>Xoá đơn hàng</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </a>
        <a href="@Url.Action("DeleteCustomers","Customers")" class="small-box">

            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>8</h3>

                    <p>Xoá khách hàng</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-plus"></i>
                </div>
            </div>
        </a>
        <a href="@Url.Action("DeleteWarehouse","Warhouse")" class="small-box">
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>12</h3>

                    <p>Xoá kho hàng</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </a>
    </div>
    <!-- ./col -->
</div>