@model DATN_Web.Models.ViewModels.Orders3StatusVM
@{ ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
            <div class="card">
                <div class="card-header bg-warning">
                    <h3 class="card-title ">Danh sách đơn hàng cần chuẩn bị</h3>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Ngày giao</th>
                                        <th>Khách hàng</th>
                                        <th>Loại KH</th>
                                        <th>Nội dung</th>
                                        <th>Trạng Thái</th>
                                        <th>Ngày hết hạn</th>
                                        <th style="width:90px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int stt1 = 1;
                                        foreach (var item in Model.Preparing)
                                        {
                                            <tr>
                                                <td>@item.DeliveryDate</td>
                                                <td class="align-middle">
                                                    <div class="fw-bold text-primary">@item.DisplayCustomerName</div>
                                                </td>
                                                <td class="align-middle">
                                                    <span class="badge bg-info">@item.CustomerTypeText</span>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="text-primary fw-bold">
                                                        Yêu cầu: @item.DeviceRequirement
                                                    </div>
                                                    <div class="text-primary fw-bold">
                                                        Thông tin: | @item.Quantity Máy | @item.RentDays Ngày | @String.Format("{0:N0}", item.UnitPrice) VNĐ |
                                                    </div>
                                                    <div>
                                                        <a href="@Url.Action("Detail","Orders", new { id = item.OrderId })">► Chi tiết</a>
                                                    </div>
                                                </td>
                                                <td><span class="badge bg-warning">Đang chuẩn bị</span></td>
                                                <td>@item.ReturnDate</td>
                                                <td class="text-center align-middle">
                                                    <a class="btn btn-info btn-sm"
                                                       href="@Url.Action("Edit","Orders", new { id = item.OrderId })">
                                                        Xem
                                                    </a>
                                                </td>
                                            </tr>
                                            stt1++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-primary">
                    <h3 class="card-title ">Đơn hàng đang hoạt động</h3>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Ngày giao</th>
                                        <th>Khách hàng</th>
                                        <th>Loại KH</th>
                                        <th>Nội dung</th>
                                        <th>Trạng Thái</th>
                                        <th>Ngày hết hạn</th>
                                        <th style="width:90px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int stt2 = 1;
                                        foreach (var item in Model.Active)
                                        {
                                            <tr>
                                                <td>@item.DeliveryDate</td>
                                                <td class="align-middle">
                                                    <div class="fw-bold text-primary">@item.DisplayCustomerName</div>
                                                </td>
                                                <td class="align-middle">
                                                    <span class="badge bg-info">@item.CustomerTypeText</span>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="text-primary fw-bold">
                                                        Yêu cầu: @item.DeviceRequirement
                                                    </div>
                                                    <div class="text-primary fw-bold">
                                                        Thông tin: | @item.Quantity Máy | @item.RentDays Ngày | @String.Format("{0:N0}", item.UnitPrice) VNĐ |
                                                    </div>
                                                    <div>
                                                        <a href="@Url.Action("Detail","Orders", new { id = item.OrderId })">► Chi tiết</a>
                                                    </div>
                                                </td>
                                                <td><span class="badge bg-primary">Đang hoạt động</span></td>
                                                <td>@item.ReturnDate</td>
                                                <td class="text-center align-middle">
                                                    <a class="btn btn-info btn-sm"
                                                       href="@Url.Action("Edit","Orders", new { id = item.OrderId })">
                                                        Xem
                                                    </a>
                                                </td>
                                            </tr>
                                            stt2++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-success">
                    <h3 class="card-title ">Đơn hàng đã hoàn thành</h3>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Ngày giao</th>
                                        <th>Khách hàng</th>
                                        <th>Loại KH</th>
                                        <th>Nội dung</th>
                                        <th>Trạng Thái</th>
                                        <th>Ngày hết hạn</th>
                                        <th style="width:90px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int stt3 = 1;
                                        foreach (var item in Model.Finished)
                                        {
                                            <tr>
                                                <td>@item.DeliveryDate</td>
                                                <td class="align-middle">
                                                    <div class="fw-bold text-primary">@item.DisplayCustomerName</div>
                                                </td>
                                                <td class="align-middle">
                                                    <span class="badge bg-info">@item.CustomerTypeText</span>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="text-primary fw-bold">
                                                        Yêu cầu: @item.DeviceRequirement
                                                    </div>
                                                    <div class="text-primary fw-bold">
                                                        Thông tin: | @item.Quantity Máy | @item.RentDays Ngày | @String.Format("{0:N0}", item.UnitPrice) VNĐ |
                                                    </div>
                                                    <div>
                                                        <a href="@Url.Action("Detail","Orders", new { id = item.OrderId })">► Chi tiết</a>
                                                    </div>
                                                </td>
                                                <td><span class="badge bg-primary">Hoàn thành</span></td>
                                                <td>@item.ReturnDate</td>
                                                <td class="text-center align-middle">
                                                    <a class="btn btn-info btn-sm"
                                                       href="@Url.Action("Edit","Orders", new { id = item.OrderId })">
                                                        Xem
                                                    </a>
                                                </td>
                                            </tr>
                                            stt3++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

